#__pf {
    pointer-events: none;
}
[data-pf-placeholder="true"] {
    display: none !important;
}
html {
	height: 100%;
	/* 
	PHONG VU @ IMPORTANT
	DO NOT SET OVERFLOW TO HIDDEN THIS WILL PREVENT PAGE SCROLLING
	WHEN MOUSEOVER ON ELEMENTS WITH POSITION ABSOLUTE
	*/
	overflow: visible;
}
body {
	margin: 0;
	height: 100%;
	/*overflow-x: hidden;*/
  /*  overflow-y: scroll;*/
  overflow: hidden; /* set overflow scroll to #editor-dnd-wrapper */
	background: #fff;
	border-radius: 2px;
}
body::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background: #8c8c8c;
}
body::-webkit-scrollbar-track {
	box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px inset;
	background: #fafafa;
}
body::-webkit-scrollbar-thumb {
	background: #8c8c8c;
	border-radius: 4px;
}
